{% comment %} {% extends "geonode-mapstore-client/snippets/custom_theme.html" %}
{% block content %}
<style>
    /* copy here the rules provided in dark theme variables file */
    :root {
        --gn-font-family-sans-serif: 'Montserrat', sans-serif;
        --gn-font-family-serif: Georgia, 'Times New Roman', Times, serif;
        --gn-font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
        --gn-font-family-base: 'Montserrat', sans-serif;
        --gn-main-color: #dedede;
        --gn-main-bg: #383838;
        --gn-main-border-color: #4a4a4a;
        --gn-main-variant-color: #dedede;
        --gn-main-variant-bg: #4a4a4a;
        --gn-main-hover-color: #e6e6e6;
        --gn-main-hover-bg: #292929;
        --gn-placeholder-color: #878787;
        --gn-placeholder-bg: #545454;
        --gn-disabled-color: #878787;
        --gn-disabled-bg: #545454;
        --gn-primary: #a3f4ff;
        --gn-info: #70c4ff;
        --gn-success: #8fffb4;
        --gn-warning: #ffdb70;
        --gn-danger: #ff7e75;
        --gn-primary-contrast: #141414;
        --gn-info-contrast: #4a4a4a;
        --gn-success-contrast: #292929;
        --gn-warning-contrast: #212121;
        --gn-danger-contrast: #292929;
        --gn-link-color: #a3cbff;
        --gn-link-hover-color: #87a6cf;
        --gn-image-color: #333333;
        --gn-image-bg: #f2f2f2;
        --gn-focus-color: rgba(57, 122, 171, 0.4);
        --gn-footer-color: #ededed;
        --gn-footer-bg: #242424;
        --gn-footer-link-color: #a3cbff;
        --gn-footer-link-hover-color: #87a6cf;
        --gn-badge-color: #dedede;
        --gn-badge-bg: #4f4f4f;
        --gn-loader-color: #dedede;
        --gn-loader-fade-color: rgba(222, 222, 222, 0.2);
        --gn-loader-primary-contrast-color: #141414;
        --gn-loader-primary-contrast-fade-color: rgba(20, 20, 20, 0.2);
        --gn-loader-primary-color: #a3f4ff;
        --gn-loader-primary-fade-color: rgba(163, 244, 255, 0.2);
        --gn-jumbotron-color: #ffffff;
        --gn-jumbotron-bg: #4a4a4a;
        --gn-timeline-selected-bg: rgba(163, 244, 255, 0.05);
        --gn-timeline-histogram-bg: rgba(163, 244, 255, 0.5);
        --gn-timeline-histogram-color: #70eeff;
        --gn-timeline-range-bg: rgba(222, 222, 222, 0.2);
        --gn-timeline-playback-range-bg: rgba(194, 255, 214, 0.2);
        --gn-button-color: #dedede;
        --gn-button-bg: #383838;
        --gn-button-action-border-color: #4a4a4a;
        --gn-button-border-color: #383838;
        --gn-button-focus-color: #dedede;
        --gn-button-focus-bg: #1e1e1e;
        --gn-button-focus-border-color: #1e1e1e;
        --gn-button-hover-color: #f8f8f8;
        --gn-button-hover-bg: #1e1e1e;
        --gn-button-hover-border-color: #1e1e1e;
        --gn-button-active-color: #f8f8f8;
        --gn-button-active-bg: #1e1e1e;
        --gn-button-active-border-color: #1e1e1e;
        --gn-button-active-hover-color: #f8f8f8;
        --gn-button-active-hover-bg: #0d0d0d;
        --gn-button-active-hover-border-color: #0d0d0d;
        --gn-button-disabled-color: #8c8c8c;
        --gn-button-disabled-bg: #4a4a4a;
        --gn-button-disabled-border-color: #4a4a4a;
        --gn-button-badge-color: #dedede;
        --gn-button-badge-bg: #383838;
        --gn-button-primary-color: #141414;
        --gn-button-primary-bg: #a3f4ff;
        --gn-button-primary-border-color: #a3f4ff;
        --gn-button-primary-focus-color: #141414;
        --gn-button-primary-focus-bg: #70eeff;
        --gn-button-primary-focus-border-color: #23e5ff;
        --gn-button-primary-hover-color: #141414;
        --gn-button-primary-hover-bg: #70eeff;
        --gn-button-primary-hover-border-color: #66edff;
        --gn-button-primary-active-color: #141414;
        --gn-button-primary-active-bg: #70eeff;
        --gn-button-primary-active-border-color: #66edff;
        --gn-button-primary-active-hover-color: #141414;
        --gn-button-primary-active-hover-bg: #4ceaff;
        --gn-button-primary-active-hover-border-color: #23e5ff;
        --gn-button-primary-disabled-color: #141414;
        --gn-button-primary-disabled-bg: #ffffff;
        --gn-button-primary-disabled-border-color: #ffffff;
        --gn-button-primary-badge-color: #a3f4ff;
        --gn-button-primary-badge-bg: #141414;
        --gn-button-info-color: #4a4a4a;
        --gn-button-info-bg: #70c4ff;
        --gn-button-info-border-color: #70c4ff;
        --gn-button-info-focus-color: #4a4a4a;
        --gn-button-info-focus-bg: #3dafff;
        --gn-button-info-focus-border-color: #008df0;
        --gn-button-info-hover-color: #4a4a4a;
        --gn-button-info-hover-bg: #3dafff;
        --gn-button-info-hover-border-color: #33abff;
        --gn-button-info-active-color: #4a4a4a;
        --gn-button-info-active-bg: #3dafff;
        --gn-button-info-active-border-color: #33abff;
        --gn-button-info-active-hover-color: #4a4a4a;
        --gn-button-info-active-hover-bg: #19a0ff;
        --gn-button-info-active-hover-border-color: #008df0;
        --gn-button-info-disabled-color: #4a4a4a;
        --gn-button-info-disabled-bg: #dcedf9;
        --gn-button-info-disabled-border-color: #dcedf9;
        --gn-button-info-badge-color: #70c4ff;
        --gn-button-info-badge-bg: #4a4a4a;
        --gn-button-success-color: #292929;
        --gn-button-success-bg: #8fffb4;
        --gn-button-success-border-color: #8fffb4;
        --gn-button-success-focus-color: #292929;
        --gn-button-success-focus-bg: #5cff92;
        --gn-button-success-focus-border-color: #10ff5f;
        --gn-button-success-hover-color: #292929;
        --gn-button-success-hover-bg: #5cff92;
        --gn-button-success-hover-border-color: #52ff8b;
        --gn-button-success-active-color: #292929;
        --gn-button-success-active-bg: #5cff92;
        --gn-button-success-active-border-color: #52ff8b;
        --gn-button-success-active-hover-color: #292929;
        --gn-button-success-active-hover-bg: #38ff7a;
        --gn-button-success-active-hover-border-color: #10ff5f;
        --gn-button-success-disabled-color: #292929;
        --gn-button-success-disabled-bg: #f7fef9;
        --gn-button-success-disabled-border-color: #f7fef9;
        --gn-button-success-badge-color: #8fffb4;
        --gn-button-success-badge-bg: #292929;
        --gn-button-warning-color: #212121;
        --gn-button-warning-bg: #ffdb70;
        --gn-button-warning-border-color: #ffdb70;
        --gn-button-warning-focus-color: #212121;
        --gn-button-warning-focus-bg: #ffce3d;
        --gn-button-warning-focus-border-color: #f0b300;
        --gn-button-warning-hover-color: #212121;
        --gn-button-warning-hover-bg: #ffce3d;
        --gn-button-warning-hover-border-color: #ffcc33;
        --gn-button-warning-active-color: #212121;
        --gn-button-warning-active-bg: #ffce3d;
        --gn-button-warning-active-border-color: #ffcc33;
        --gn-button-warning-active-hover-color: #212121;
        --gn-button-warning-active-hover-bg: #ffc519;
        --gn-button-warning-active-hover-border-color: #f0b300;
        --gn-button-warning-disabled-color: #212121;
        --gn-button-warning-disabled-bg: #f9f2dc;
        --gn-button-warning-disabled-border-color: #f9f2dc;
        --gn-button-warning-badge-color: #ffdb70;
        --gn-button-warning-badge-bg: #212121;
        --gn-button-danger-color: #292929;
        --gn-button-danger-bg: #ff7e75;
        --gn-button-danger-border-color: #ff7e75;
        --gn-button-danger-focus-color: #292929;
        --gn-button-danger-focus-bg: #ff4e42;
        --gn-button-danger-focus-border-color: #f41000;
        --gn-button-danger-hover-color: #292929;
        --gn-button-danger-hover-bg: #ff4e42;
        --gn-button-danger-hover-border-color: #ff4538;
        --gn-button-danger-active-color: #292929;
        --gn-button-danger-active-bg: #ff4e42;
        --gn-button-danger-active-border-color: #ff4538;
        --gn-button-danger-active-hover-color: #292929;
        --gn-button-danger-active-hover-bg: #ff2d1e;
        --gn-button-danger-active-hover-border-color: #f41000;
        --gn-button-danger-disabled-color: #292929;
        --gn-button-danger-disabled-bg: #fae2e0;
        --gn-button-danger-disabled-border-color: #fae2e0;
        --gn-button-danger-badge-color: #ff7e75;
        --gn-button-danger-badge-bg: #292929;
        --gn-button-tray-color: #f8f8f8;
        --gn-button-tray-bg: #383838;
        --gn-button-tray-border-color: #adf5ff;
        --gn-button-tray-focus-color: #f8f8f8;
        --gn-button-tray-focus-bg: #1e1e1e;
        --gn-button-tray-focus-border-color: #57ebff;
        --gn-button-tray-hover-color: #f8f8f8;
        --gn-button-tray-hover-bg: #1e1e1e;
        --gn-button-tray-hover-border-color: #99f3ff;
        --gn-button-tray-active-color: #f8f8f8;
        --gn-button-tray-active-bg: #1e1e1e;
        --gn-button-tray-active-border-color: #99f3ff;
        --gn-button-tray-active-hover-color: #f8f8f8;
        --gn-button-tray-active-hover-bg: #0d0d0d;
        --gn-button-tray-active-hover-border-color: #57ebff;
        --gn-button-tray-disabled-color: #f8f8f8;
        --gn-button-tray-disabled-bg: #6b6b6b;
        --gn-button-tray-disabled-border-color: #6b6b6b;
        --gn-button-tray-badge-color: #383838;
        --gn-button-tray-badge-bg: #f8f8f8;
      }
</style>
{% endblock %} {% endcomment %}