
<!-- 
<footer class="gn-footer">
    <ul>
        <li>
            <a href="https://geonode.org/" class="nav-link">
                <span>geonode.org</span>
            </a>
        </li>
        <li>
            <a href="/developer/" class="nav-link">
                <span>Developers</span>
            </a>
        </li>
        <li>
            <a href="/about/" class="nav-link">
                <span>About</span>
            </a>
        </li>
      
    </ul>
</footer> -->




</style>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		{% comment %} <div class="footer-col">
  	 			<h4>Contact Us</h4>
  	 			<ul style="list-style-type:none;">
                    <!-- <li>GeoNepal Team</li>
                    <li>Department of Geomatics Engineering</li> -->
                    <li>Pokhara Metropolitan city</li>
                    <li>E-mail: pkr@gmail.com</li>
                  </ul>
  	 		</div>
  	 		{% comment %} <div class="footer-col">
  	 			<h4>Data</h4>
                   <ul>
                    <li><a href="/layers/?limit=25">Layers</a></li>
                    <li><a href="/documents/?limit=25">Documents</a></li>
                    <li><a href="/services/?limit=25">Remote Services</a></li>
                  </ul>
  	 		</div> {% endcomment %}
  	 		{% comment %} <div class="footer-col">
  	 			<h4>Maps</h4>
  	 			<ul>
                    <li><a href="/maps/?limit=25">Explore Maps</a></li>
  	 			</ul>
  	 		</div> {% endcomment %}
  	 		{% comment %} <div class="footer-col">
                <h3>About</h3>
                <ul>
                  <li><a href="/people/">People</a></li>
                  <li><a href="/groups/">Groups</a></li>
                </ul>

                   <!-- <h4>follow us</h4>
  	 			<div class=="#"><"social-links">
  	 				<a hrefi class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div> -->
  	 		</div> {% endcomment %}
			   <center class="developed">
				<span>Developed by Mappers Nepal PVT .LTD </div></span>
			</center>
  	 	</div>
		 
  	 </div>
	
	
	
  </footer>


</body>
</html>
